body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    background: linear-gradient(to right, rgb(82, 105, 118), rgb(41, 46, 73));
}

.title {
    color: white;
    margin: 20px 0px;
}

.alert-disconnect,
.alert-danger-usb, 
.alert-danger-token, 
.alert-danger-connection-usb, 
.alert-danger-connection-wss {
    display: none;
    padding: 20px;
    margin-bottom: 20px;
    width: 500px;
    background-color: #F44336;
    color: white;
}

.alert-success {
    display: none;
    padding: 20px;
    width: 500px;
    background-color: #04AA6D;
    color: white;
}

.close-btn-disconnect,
.close-btn-danger-usb, 
.close-btn-danger-token,
.close-btn-danger-connection-usb,
.close-btn-danger-connection-wss,
.close-btn-success {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.close-btn-disconnect:hover,
.close-btn-danger-usb:hover, 
.close-btn-danger-token:hover,
.close-btn-danger-connection-usb:hover,
.close-btn-danger-connection-wss:hover,
.close-btn-success:hover {
    color: black;
}

.grid {
    display: grid;
    width: 500px;
    height: 250px;
    row-gap: 20px;
    grid-template-rows: 50px 50px 50px;
    grid-template: 
        "data-usb"
        "data-token"
        "btn-wss-connect";
}

.data-usb, 
.data-token {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.data-usb {
    align-items: center;
}

.label-general {
    color: white;
    margin: 0 5px;
}

.label-usb {
    color: red;
}

.textarea-token {
    resize: none;
    margin: 0 10px;
    line-height: 1.5;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #999;
}

.btn-wss-connect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    margin-left: 95px;
}

.data-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}